{# Label #}
{% set label = label|default('') %}
{% set labelHidden = labelHidden|default(null) %}

{# Placeholder / Value #}
{% set placeholder = placeholder|default('') %}
{% set value = value|default('') %}

{# Help Text #}
{% set helpText = helpText|default('') %}

{# Errors #}
{% set error = error|default(null) %}
{% set errorText = errorText|default('') %}

{# Hint #}
{% set hint = hint|default('') %}

<div class="mb-4">
	{% if label and hint %}
		<div class="flex justify-between">
			<label for="email"
				class="{{
				labelHidden
					? 'sr-only'
					: 'block text-sm font-medium leading-5 text-gray-700'
				}}">
				{{ label }}
			</label>
			<span class="text-sm leading-5 text-gray-500">{{ hint }}</span>
		</div>
	{% elseif label %}
		<label for="email"
			class="{{
			labelHidden
				? 'sr-only'
				: 'block text-sm font-medium leading-5 text-gray-700'
			}}">
			{{ label }}
		</label>
	{% endif %}
	<div class="mt-1 relative rounded-md shadow-sm">
		<input id="email"
			class="form-input block w-full sm:text-sm sm:leading-5 {{
			error
				? 'pr-10 border-red-300 text-red-900 placeholder-red-300 focus:border-red-300 focus:shadow-outline-red'
			}}"
			placeholder="{{ placeholder }}"
			value="{{ value }}" />

		{% if error %}
			<div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
				<svg class="h-5 w-5 text-red-500"
					fill="currentColor"
					viewBox="0 0 20 20">
					<path fill-rule="evenodd"
						d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
						clip-rule="evenodd" />
				</svg>
			</div>
		{% endif %}
	</div>

	{% if error and (errorText|length) %}
		<p class="mt-2 text-sm text-red-600">
			{{ errorText }}
		</p>
	{% elseif helpText|length %}
		<p class="mt-2 text-sm text-gray-500">
			{{ helpText }}
		</p>
	{% endif %}
</div>
