{% import '/_macros/helpers' as h %}

{% set menuLinks = menuLinks|default([]) %}

{# Header JS is instantiated in app.js, so no need for a data-behaviour #}
<header class="g-header c-header absolute top-0 left-0 w-full z-50">
	<div class="g-header__inner flex flex-wrap justify-between items-center relative zzzbg-blue px-1 z-50">
		<a main-nav-link class="g-header__logo inline-block hover:opacity-50 trans trans-opacity" href="/" title="">
			{{ h.symbol('logo') }}
			<span class="sr-only">{{ currentSite.name }}</span>
		</a>

		<button class="o-burger appearance-none -mr-5 lg:hidden" type="button" data-menu-opener data-target="site-menu" aria-label="Menu">
			<span class="o-burger__bar"></span>
		</button>
	</div>

	{% if menuLinks|length %}
	<div class="g-header__nav absolute lg:static top-0 left-0 w-full bg-blue lg:bg-transparent text-white" id="site-menu">
		<ul class="g-header__nav-list" id="menu-inner">
			{% for link in menuLinks %}
			<li class="g-header__nav-item lg:ml-5">
				<a href="{{ link.url }}" main-nav-link class="{{ link.slug is same as(craft.request.lastSegment) ? 'is-active' }} g-header__nav-link block px-1 py-0-5">
					{{ link.text }}
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
</header>
